<a href="https://colab.research.google.com/github/franciscoromillo/Practicing_python/blob/main/Ejercicios_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importemos la librería de Pandas:

In [ ]:
import pandas as pd
import numpy as np

Importemos nuestro dataset de la siguiente url: https://raw.githubusercontent.com/LearnDataSci/articles/master/Python%20Pandas%20Tutorial%20A%20Complete%20Introduction%20for%20Beginners/IMDB-Movie-Data.csv

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/LearnDataSci/articles/master/Python%20Pandas%20Tutorial%20A%20Complete%20Introduction%20for%20Beginners/IMDB-Movie-Data.csv', index_col = 0)

Hagamos una primer vistazo a los datos: cómo son, forma, información básica

In [ ]:
df.head()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:
df.tail(2)

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [ ]:
df.shape

(1000, 11)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               1000 non-null   object
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 93.8+ KB

Tenemos datos duplicados?

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(1000, 11)

Limpiemos los nombres de las columnas:

In [ ]:
df.columns = [col.lower().replace(' ','_') for col in df]
df.head()

,title,genre,description,director,actors,year,runtime_(minutes),rating,votes,revenue_(millions),metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:
df.rename(columns = {'runtime_(minutes)' : 'runtime_min',
                     'revenue_(millions)' : 'revenue_mm'}, inplace=True)
df.head()

,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:
df.set_index('title')

,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
title,,,,,,,,,,
Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [ ]:
df.head()

,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

Tenemos datos nulos?

In [ ]:
df.isnull().sum()

title            0
genre            0
description      0
director         0
actors           0
year             0
runtime_min      0
rating           0
votes            0
revenue_mm     128
metascore       64
dtype: int64

In [ ]:
df.dropna()

,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [ ]:
df.dropna(subset=['metascore'], inplace=True)

In [ ]:
df.shape

(936, 11)

In [ ]:
df.tail()

,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
Rank,,,,,,,,,,,
996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.tail()

,Rank,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
931,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
932,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
933,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
934,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
935,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [ ]:
df.isnull().sum()

Rank            0
title           0
genre           0
description     0
director        0
actors          0
year            0
runtime_min     0
rating          0
votes           0
revenue_mm     98
metascore       0
dtype: int64

In [ ]:
mean_revenue = df['revenue_mm'].mean()
print(mean_revenue)

84.56455847255368

In [ ]:
df.fillna(df['revenue_mm'].mean(), inplace=True)

In [ ]:
df.isnull().sum()

Rank           0
title          0
genre          0
description    0
director       0
actors         0
year           0
runtime_min    0
rating         0
votes          0
revenue_mm     0
metascore      0
dtype: int64

In [ ]:
df.head()

,Rank,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

Pasemos a analizar los datos:
* Cuántos directores distintos encontramos en nuestro dataframe?

In [ ]:
df.shape

(936, 12)

In [ ]:
df['director'].nunique()

607

In [ ]:
df['director'].unique()

array(['James Gunn', 'Ridley Scott', 'M. Night Shyamalan',
       'Christophe Lourdelet', 'David Ayer', 'Yimou Zhang',
       'Damien Chazelle', 'Sean Foley', 'James Gray', 'Morten Tyldum',
       'David Yates', 'Theodore Melfi', 'Gareth Edwards', 'Ron Clements',
       'Nacho Vigalondo', 'Chris Renaud', 'Mel Gibson', 'Paul Greengrass',
       'Garth Davis', 'Denis Villeneuve', 'Stephen Gaghan',
       'Kenneth Lonergan', 'Ben Young', 'Walt Dohrn', 'Roland Emmerich',
       'Jon Lucas', 'Justin Kurzel', 'John Hamburg', 'Tom Ford',
       'Bryan Singer', 'Tim Miller', 'Paul W.S. Anderson',
       'Anthony Russo', 'Christopher Nolan', 'Scott Derrickson',
       'Antoine Fuqua', 'Greg Tiernan', 'Barry Jenkins',
       'John Lee Hancock', 'Ricardo de Montreuil', 'Rob Marshall',
       'John Madden', 'Justin Lin', 'Sean Penn', 'J.J. Abrams',
       'Anna Foerster', 'Garry Marshall', 'Chad Stahelski',
       'Martin Scorsese', 'Fede Alvarez', 'Thea Sharrock',
       'Lone Scherfig', 'Clint Eastwood', 'Zack Snyder', 'André Øvredal',
       'Tate Taylor', 'Sam Taylor-Johnson', 'Matthew Vaughn',
       'Peter Berg', 'George Miller', 'Robin Swicord', 'Terry George',
       'Robert Zemeckis', 'J.A. Bayona', 'David Frankel', 'Byron Howard',
       'Gore Verbinski', 'Joss Whedon', 'Quentin Tarantino', 'Paul Feig',
       'Matt Ross', 'David Fincher', 'James Wan', 'Colin Trevorrow',
       'Ben Affleck', 'James Cameron', "Gavin O'Connor", 'Duncan Jones',
       'Todd Phillips', 'Shane Black', 'Makoto Shinkai',
       'Jeremy Gillespie', 'Olivier Assayas', 'Brian Helgeland',
       'Kenneth Branagh', 'Guy Ritchie', 'David Mackenzie',
       'Taylor Hackford', 'Katie Holmes', 'Alex Garland', 'Greg McLean',
       'Steve McQueen', 'Ana Lily Amirpour', 'Josh Gordon',
       'Nicolas Winding Refn', 'Dan Trachtenberg', 'Andrew Stanton',
       'Tim Burton', 'Neil Burger', 'Jake Szymanski', 'Jon Favreau',
       'Michael Bay', 'Henry Joost', 'Phyllida Lloyd',
       'Alejandro González Iñárritu', 'Denzel Washington',
       'Jaume Collet-Serra', 'Derek Cianfrance', 'Ethan Coen',
       'Baz Luhrmann', 'Martin Koolhoven', 'Thor Freudenthal',
       'Adam McKay', 'Lenny Abrahamson', 'Chan-wook Park',
       'Kelly Fremon Craig', 'Greg Mottola', 'Ron Howard',
       'Steven Spielberg', 'Gary Ross', 'Elizabeth Wood', 'Colin Strause',
       'Guillermo del Toro', 'Glenn Ficarra', 'Edgar Wright',
       'Fabio Guaglione', 'Ben Wheatley', 'Edward Zwick',
       'Martin Campbell', 'Catherine Hardwicke', 'Jon M. Chu',
       'Simon Curtis', 'Sam Mendes', 'Dan Gilroy', 'Travis Knight',
       'Jackson Stewart', 'Spike Jonze', 'Chris Buck', 'Brad Bird',
       'Matt Reeves', 'Ben Stiller', 'Peyton Reed', 'Sharon Maguire',
       'Robert Eggers', 'Asghar Farhadi', 'Gaspar Noé', 'Ang Lee',
       'Judd Apatow', 'April Mullen', 'Tom McCarthy', 'Luke Scott',
       'Joe Johnston', 'Rawson Marshall Thurber', 'Doug Liman',
       'Oliver Stone', 'Robert Schwentke', 'Julia Ducournau',
       'Jim Jarmusch', 'Colm McCarthy', 'Brad Peyton', 'Harmony Korine',
       'Spike Lee', 'Alan Taylor', 'Alex Proyas', 'Chris Wedge',
       'Liam Gavin', 'Ilya Naishuller', 'John Lasseter',
       'David Robert Mitchell', 'Andrea Arnold', 'Yorgos Lanthimos',
       'Nimród Antal', 'Robert Stromberg', 'Steven Shainberg',
       'Andy Goddard', 'Christopher McQuarrie', 'Cedric Nicolas-Troyan',
       'Stephen Chbosky', 'Pablo Larraín', 'D.J. Caruso', 'Wes Anderson',
       'Andrew Niccol', 'Pete Docter', 'Ash Brannon', 'Chris Columbus',
       'Tom Hooper', 'Alfonso Cuarón', 'Mike Mills', 'Olivier Nakache',
       'Eleanor Coppola', 'F. Gary Gray', 'Marc Webb', 'Rupert Wyatt',
       'David F. Sandberg', 'Joseph Cedar', 'Darren Aronofsky',
       'Justin Simien', 'Lars von Trier', 'Dave Green', 'Eli Roth',
       'Dan Mazer', 'Tom Tykwer', 'Gavin Hood', 'Peter Jackson',
       'Phil Lord', 'John Carney', 'Joseph Kosinski', 'Richard Linklater',
       'Louis Leterrier', 'Brett Ratner', 'Lana Wachowski', 'Jared Hess',
       'Sang-ho Yeon', 'Jason Moore', 'Nicholas Stoller', 'Ross Katz',
       'Mike Thurmeier', 'Brad Furman', 'Paul Thomas Anderson',
       'Drew Goddard', 'Fred Wolf', 'Jim Field Smith', 'James Bobin',
       'Christian Ditter', 'Abdellatif Kechiche', 'Jennifer Kent',
       'Bong Joon Ho', 'J Blakeson', 'Anne Fletcher', 'So Yong Kim',
       'Breck Eisner', 'Paul McGuigan', 'Roger Spottiswoode',
       'Jeremy Saulnier', 'Michael Mann', 'Jean-Marc Vallée',
       'David O. Russell', 'Alexi Pappas', 'Josh Boone', 'Frank Coraci',
       'Rian Johnson', 'David Lowery', 'Sam Raimi', 'Karyn Kusama',
       'Woody Allen', 'William Oldroyd', 'Jocelyn Moorhouse',
       'Sergei Bodrov', 'James Marsh', 'Evan Goldberg', 'Richard Curtis',
       'Jon Watts', 'Ruben Fleischer', 'Danny Boyle', 'Bill Condon',
       'Timur Bekmambetov', 'J.D. Dillard', 'Wes Ball', 'Ariel Vromen',
       'Stephen Frears', 'Eran Creevy', 'Scott Cooper', 'Ryan Coogler',
       'Dan Kwan', 'Patrick Hughes', 'Jemaine Clement', 'Mike Flanagan',
       'Baltasar Kormákur', 'James Mangold', 'Peter Atencio',
       'Pierre Morel', 'Gillies MacKinnon', 'Dennis Dugan',
       'Lee Toland Krieger', 'Peter Billingsley', 'Terry Jones',
       'Steven Soderbergh', 'Kyle Balda', 'Rolfe Kanefsky',
       'Pierre Coffin', 'Michael Hoffman', 'Kathryn Bigelow',
       'Nathan Greno', 'Francis Lawrence', 'John Francis Daley',
       'Elizabeth Banks', 'Dan Scanlon', 'Paul Verhoeven',
       'Dennis Gansel', 'Kevin Smith', 'Mark Williams', 'Joe Wright',
       'David Ross', 'Burr Steers', 'Noam Murro', 'Babak Najafi',
       'Frank Miller', 'Srdjan Spasojevic', 'Rajkumar Hirani',
       'Marc Forster', 'Corey Asraf', 'George Tillman Jr.', 'Jeff Wadlow',
       'Jeff Grace', 'John Crowley', 'Henry Selick',
       'Michael J. Gallagher', 'Pete Travis', 'Taika Waititi', 'Don Hall',
       'Kimberly Peirce', 'Christian Alvart', 'Thomas Vinterberg',
       'Etan Cohen', 'William Brent Bell', 'Mick Jackson',
       'Michael Spierig', 'Rob Letterman', 'Phillip Noyce',
       'Neill Blomkamp', 'Sofia Coppola', 'Dexter Fletcher',
       'Florian Henckel von Donnersmarck', 'Carles Torrens',
       'Amber Tamblyn', 'John Hillcoat', 'Paolo Genovese',
       'Adam Shankman', 'Lasse Hallström', 'Jim Mickle', 'Albert Hughes',
       'Ericson Core', 'Jonathan Glazer', 'Barry Sonnenfeld',
       'Todd Haynes', 'Daniel Ragussis', 'Paolo Sorrentino',
       'Jaco Van Dormael', 'Mark Herman', 'S. Craig Zahler',
       'Gregory Jacobs', 'Will Gluck', 'Biyi Bandele', 'Sean Ellis',
       'Andrey Kravchuk', 'David Schwimmer', 'George Nolfi',
       'Tony Gilroy', 'Simon Verhoeven', 'Luc Besson', 'Terence Davies',
       'Scott Waugh', 'Steven Brill', 'Alexandros Avranas',
       'Roman Polanski', 'Nic Mathieu', 'Mora Stephens', 'Jeff Nichols',
       'Mike Birbiglia', 'Philippe Falardeau', 'Ken Loach', 'Josh Trank',
       'Stephen Fingleton', 'Florian Gallenberger', 'Rob Cohen',
       'Joel Edgerton', 'Gary Shore', 'Mike Judge', 'Sylvester Stallone',
       'Rich Moore', 'Rupert Sanders', 'Jason Reitman', 'Jodie Foster',
       'Nick Cassavetes', 'Kevin Lima', 'Nancy Meyers', 'Jonathan Dayton',
       'Ben Younger', 'Craig Gillespie', 'Andrew Jarecki',
       'John Stockwell', 'Jake Kasdan', 'Kirk Jones', 'Bennett Miller',
       'Mark Steven Johnson', 'Angelina Jolie', 'Tarsem Singh',
       'Mark Andrews', 'Niels Arden Oplev', 'Anne Fontaine',
       'Michaël R. Roskam', 'Andy Fickman', 'Sean Anders', 'Tom McGrath',
       'Jean-François Richet', 'Ken Kwapis', 'Alessandro Carloni',
       'Zackary Adler', 'Seth Gordon', 'Xavier Dolan',
       'Richard LaGravenese', 'Maren Ade', 'Andrew Dominik',
       'Joseph Gordon-Levitt', 'James Watkins', 'Joey Curtis',
       'Paco Cabezas', 'Rick Famuyiwa', 'Måns Mårlind', 'Marcus Nispel',
       'Olivier Megaton', 'Len Wiseman', 'Will Slocombe', 'Shawn Levy',
       'Michael Goi', 'Levan Gabriadze', 'Jon Hurwitz',
       'Gabriele Muccino', 'Damián Szifron', 'François Ozon',
       'John Wells', 'Jonathan Holbrook', 'Mark Waters', 'Afonso Poyart',
       'Akiva Schaffer', 'Hope Dickson Leach', 'Jonathan Liebesman',
       'David Cronenberg', 'Simon Stone', 'David Gordon Green',
       'Jon Kasdan', 'Mia Hansen-Løve', 'Alejandro Amenábar',
       'Seth MacFarlane', 'Atom Egoyan', 'Daniel Espinosa',
       'John Michael McDonagh', 'Frank Darabont', 'Mikael Håfström',
       'Ari Sandel', 'Jee-woon Kim', 'Lynne Ramsay', 'Whit Stillman',
       'Harald Zwart', 'Lee Unkrich', 'Tomas Alfredson', 'Gauri Shinde',
       'Mike Cahill', 'Caleb Vetter', 'Marcus Dunstan', 'John Krasinski',
       'David Dobkin', 'Michael Dudok de Wit', 'Jorge R. Gutiérrez',
       'Bobby Farrelly', 'Doug Ellin', 'Bryan Bertino', 'Adam Wingard',
       'Joe Carnahan', 'Simon Aboud', 'Bruce Beresford', 'Oz Perkins',
       'Terrence Malick', 'Ben Falcone', 'Jonathan Jakubowicz',
       'Juan José Campanella', 'Max Joseph', 'Chris Stokes',
       'Gregory Hoblit', 'Martin McDonagh', 'McG', 'Filip Renc',
       'Ed Gass-Donnelly', 'Jamal Hill', 'Kirsten Sheridan',
       'James DeMonaco', 'Jake Schreier', 'Walter Hill', 'Dean DeBlois',
       'Rob Zombie', 'Tyler Shields', 'Bruce A. Evans', 'Adam Leon',
       'Chris Evans', 'Jim Sheridan', 'Stewart Hendler',
       'Genndy Tartakovsky', 'Claude Barras', 'Asger Leth',
       'Ivan Reitman', 'Werner Herzog', 'Scott Frank', 'Mike Newell',
       'James Ponsoldt', 'Amma Asante', 'Mario Van Peebles',
       'François Simard', 'Andrés Muschietti', 'John Moore',
       'John R. Leonetti', 'Terry Gilliam', 'Stephen Sommers',
       'Antonio Campos', 'Dito Montiel', 'Phil Claydon', 'Matthias Hoene',
       'Jason Friedberg', 'David Bowers', 'Cary Joji Fukunaga',
       'Andy Tennant', 'Larry Charles', 'Erik Van Looy',
       'Cristian Mungiu', 'Gee Malik Linton', 'Aisling Walsh',
       'Luca Guadagnino', 'Tony Scott', 'Tim Johnson',
       'Giuseppe Tornatore', 'Nathan Morlando', 'Robert Luketic',
       'Mark Osborne', 'Malcolm D. Lee', 'Alexandre Aja', 'Allen Coulter',
       'Naoko Yamada', 'Miguel Arteta', 'Steven Knight', 'James Schamus',
       'Kyle Patrick Alvarez', 'Hannes Holm', 'James Wong', 'Dan Bradley',
       'Greg Berlanti', 'Juan Carlos Fresnadillo', 'Jonathan Levine',
       'Hideaki Anno', 'Wally Pfister', 'Carlos Saldanha',
       'Drake Doremus', 'Scott Hicks', 'Femi Oyeniran',
       'Michael Patrick King', 'Robert Rodriguez', 'Gary Winick',
       'Leslye Headland', 'David R. Ellis', 'Michael Dowse',
       'José Padilha', 'James Franco', 'Michael Showalter',
       'Matteo Garrone', 'Gabor Csupo', 'James Ward Byrkit',
       'Hong-jin Na', 'Simon West', 'Gregory Wilson', 'Chris Weitz',
       'Neil Marshall', 'Christopher Landon', 'John Erick Dowdle',
       'Lee Daniels', 'Gus Van Sant', 'Chris McCoy', 'Craig Brewer',
       'R.J. Cutler', 'Ido Fluk', 'Christopher Smith', 'Anna Biller',
       'Tom Six', 'Richie Smyth', 'Ryûhei Kitamura', 'David Slade',
       'Greg Kwedar', 'Mark Mylod', 'David Twohy', 'Justin Kelly',
       'Justin Tipping', 'Alfonso Gomez-Rejon', 'Alexander Payne',
       'Jordan Vogt-Roberts', 'Tom Gormican', 'Scott Stewart',
       'Patricia Rozema', 'Justin Chadwick', 'Steven R. Monroe',
       'James Lapine', 'Jérôme Salle', 'Micheal Bafaro',
       'John Luessenhop', 'Wes Craven', 'Mira Nair',
       'Gilles Paquet-Brenner', 'Lisa Addario', 'Pedro Almodóvar',
       'Patricia Riggen', 'Julie Taymor', 'Luke Greenfield', 'Boaz Yakin',
       'Steven Quale', 'Shana Feste', 'Pascal Laugier',
       'Patrick Tatopoulos', 'Aamir Khan', 'Nima Nourizadeh', 'Billy Ray',
       'Scot Armstrong'], dtype=object)

* Cuáles son los 5 directores/as con más películas?

In [ ]:
df['director'].value_counts().head()

Ridley Scott          8
M. Night Shyamalan    6
Paul W.S. Anderson    6
Michael Bay           6
David Yates           6
Name: director, dtype: int64

* Cuáles son los top 10 géneros más populares?

In [ ]:
df['genre'].value_counts().head(10)

Action,Adventure,Sci-Fi       50
Drama                         43
Comedy,Drama,Romance          32
Comedy                        30
Drama,Romance                 28
Animation,Adventure,Comedy    26
Action,Adventure,Fantasy      26
Comedy,Romance                25
Comedy,Drama                  25
Crime,Drama,Thriller          22
Name: genre, dtype: int64

* Veamos si hay datos correlacionados:

In [ ]:
df.corr()

,Rank,year,runtime_min,rating,votes,revenue_mm,metascore
Rank,1.000000,-0.257146,-0.269281,-0.244541,-0.311417,-0.257086,-0.191869
year,-0.257146,1.000000,-0.148636,-0.201293,-0.405762,-0.121985,-0.079305
runtime_min,-0.269281,-0.148636,1.000000,0.387009,0.424760,0.265400,0.211978
rating,-0.244541,-0.201293,0.387009,1.000000,0.521734,0.192790,0.631897
votes,-0.311417,-0.405762,0.424760,0.521734,1.000000,0.610492,0.325684
revenue_mm,-0.257086,-0.121985,0.265400,0.192790,0.610492,1.000000,0.132829
metascore,-0.191869,-0.079305,0.211978,0.631897,0.325684,0.132829,1.000000

* Cuál es el año de la película más reciente? Y de la más antigua?

In [ ]:
df['year'].max()

2016

In [ ]:
df['year'].min()

2006

* Cuál es la nota media de toda la base de peliculas?

In [ ]:
df.head()

,Rank,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:
df['rating'].mean()

6.729166666666667

In [ ]:
df['rating'].median()

6.8

In [ ]:
df

,Rank,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.130000,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.460000,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.120000,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.320000,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.020000,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
931,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,84.564558,45.0
932,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.540000,46.0
933,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.010000,50.0
934,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,84.564558,22.0
935,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.640000,11.0

In [ ]:
df.to_csv('drive\imdb_films.csv')

In [ ]:
sub_df = df[['title', 'director', 'rating']]

In [ ]:
sub_df.set_index('title', inplace=True)

In [ ]:
sub_df.head()

                                     director  rating
title
Guardians of the Galaxy            James Gunn     8.1
Prometheus                       Ridley Scott     7.0
Split                      M. Night Shyamalan     7.3
Sing                     Christophe Lourdelet     7.2
Suicide Squad                      David Ayer     6.2

In [ ]:
sub_df.iloc[0:3]

                                   director  rating
title
Guardians of the Galaxy          James Gunn     8.1
Prometheus                     Ridley Scott     7.0
Split                    M. Night Shyamalan     7.3

In [ ]:
sub_df.loc['Guardians of the Galaxy':'Sing']

                                     director  rating
title
Guardians of the Galaxy            James Gunn     8.1
Prometheus                       Ridley Scott     7.0
Split                      M. Night Shyamalan     7.3
Sing                     Christophe Lourdelet     7.2

In [ ]:
runmin_120 = df[(df['runtime_min']>120)]

In [ ]:
df1 = df[(df['director'] == 'James Gunn') | (df['director'] == 'Ridley Scott')]

In [ ]:
df.head()

,Rank,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [ ]:
df.pop('Rank')
df

,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.130000,76.0
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.460000,65.0
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.120000,62.0
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.320000,59.0
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.020000,40.0
...,...,...,...,...,...,...,...,...,...,...,...
931,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,84.564558,45.0
932,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.540000,46.0
933,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.010000,50.0
934,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,84.564558,22.0
935,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.640000,11.0

In [ ]:
sub_df.head(20)

                                                     director  rating
title
Guardians of the Galaxy                            James Gunn     8.1
Prometheus                                       Ridley Scott     7.0
Split                                      M. Night Shyamalan     7.3
Sing                                     Christophe Lourdelet     7.2
Suicide Squad                                      David Ayer     6.2
The Great Wall                                    Yimou Zhang     6.1
La La Land                                    Damien Chazelle     8.3
Mindhorn                                           Sean Foley     6.4
The Lost City of Z                                 James Gray     7.1
Passengers                                      Morten Tyldum     7.0
Fantastic Beasts and Where to Find Them           David Yates     7.5
Hidden Figures                                 Theodore Melfi     7.8
Rogue One                                      Gareth Edwards     7.9
Moana                                            Ron Clements     7.7
Colossal                                      Nacho Vigalondo     6.4
The Secret Life of Pets                          Chris Renaud     6.6
Hacksaw Ridge                                      Mel Gibson     8.2
Jason Bourne                                  Paul Greengrass     6.7
Lion                                              Garth Davis     8.1
Arrival                                      Denis Villeneuve     8.0

In [ ]:
sub_df.drop(['Passengers', 'Hidden Figures'], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
sub_df.head(20)

                                                     director  rating
title
Guardians of the Galaxy                            James Gunn     8.1
Prometheus                                       Ridley Scott     7.0
Split                                      M. Night Shyamalan     7.3
Sing                                     Christophe Lourdelet     7.2
Suicide Squad                                      David Ayer     6.2
The Great Wall                                    Yimou Zhang     6.1
La La Land                                    Damien Chazelle     8.3
Mindhorn                                           Sean Foley     6.4
The Lost City of Z                                 James Gray     7.1
Fantastic Beasts and Where to Find Them           David Yates     7.5
Rogue One                                      Gareth Edwards     7.9
Moana                                            Ron Clements     7.7
Colossal                                      Nacho Vigalondo     6.4
The Secret Life of Pets                          Chris Renaud     6.6
Hacksaw Ridge                                      Mel Gibson     8.2
Jason Bourne                                  Paul Greengrass     6.7
Lion                                              Garth Davis     8.1
Arrival                                      Denis Villeneuve     8.0
Gold                                           Stephen Gaghan     6.7
Manchester by the Sea                        Kenneth Lonergan     7.9

In [ ]:
sub_df.reset_index(inplace=True)
sub_df.drop([0,2])

     index                   title              director  rating
1        1              Prometheus          Ridley Scott     7.0
3        3                    Sing  Christophe Lourdelet     7.2
4        4           Suicide Squad            David Ayer     6.2
5        5          The Great Wall           Yimou Zhang     6.1
6        6              La La Land       Damien Chazelle     8.3
..     ...                     ...                   ...     ...
929    929    Secret in Their Eyes             Billy Ray     6.2
930    930         Hostel: Part II              Eli Roth     5.5
931    931  Step Up 2: The Streets            Jon M. Chu     6.2
932    932            Search Party        Scot Armstrong     5.6
933    933              Nine Lives      Barry Sonnenfeld     5.3

[932 rows x 4 columns]

In [ ]:
def new_old_film(x):
  if x==2016:
    return 'new'
  else:
    return 'old'

In [ ]:
df['ind_new'] = df['year'].apply(new_old_film)

In [ ]:
df.head()

,title,genre,description,director,actors,year,runtime_min,rating,votes,revenue_mm,metascore,ind_new
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,old
1,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,old
2,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,new
3,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,new
4,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,new

In [ ]:
df.groupby(['genre']).agg(np.mean)

,year,runtime_min,rating,votes,revenue_mm,metascore
genre,,,,,,
Action,2016.000000,90.000000,4.900000,6809.000000,131.560000,37.000000
"Action,Adventure",2011.000000,124.333333,6.400000,334459.000000,223.740000,57.333333
"Action,Adventure,Biography",2015.500000,131.500000,7.000000,48780.000000,16.500000,62.500000
"Action,Adventure,Comedy",2014.214286,109.642857,6.592857,193502.357143,95.733571,47.214286
"Action,Adventure,Crime",2012.333333,116.500000,6.433333,200322.833333,90.620000,48.333333
...,...,...,...,...,...,...
"Romance,Sci-Fi",2016.000000,118.000000,6.100000,512.000000,84.564558,65.000000
Sci-Fi,2016.000000,101.000000,4.000000,277.000000,20.760000,53.000000
"Sci-Fi,Thriller",2008.000000,91.000000,5.000000,170897.000000,64.510000,34.000000
Thriller,2015.714286,92.142857,5.771429,12097.142857,72.529622,59.714286
"Thriller,War",2016.000000,106.000000,6.000000,5926.000000,84.564558,40.000000

In [ ]:
df[['genre', 'runtime_min']].groupby(['genre']).agg(np.mean).sort_values('runtime_min', ascending=False).head()

                         runtime_min
genre
Biography,Comedy,Crime         180.0
Drama,Family,Music             165.0
Drama,Western                  165.0
Adventure,Drama,History        161.0
Adventure,Fantasy              158.0

In [ ]:
df[['rating', 'director', 'year', 'votes']].groupby(['director', 'year']).agg(np.max)

                          rating   votes
director            year
Aamir Khan          2007     8.5  102697
Abdellatif Kechiche 2013     7.8  103150
Adam Leon           2016     6.5    1031
Adam McKay          2006     6.6  137502
                    2008     6.9  223065
...                          ...     ...
Zack Snyder         2009     7.6  410249
                    2011     6.1  204874
                    2013     7.1  577010
                    2016     6.7  472307
Zackary Adler       2015     5.1    1630

[927 rows x 2 columns]